* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (max-width: 767px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 720px;
    text-align: center;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 1200px) and (max-width: 1399) {
  .container {
    width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}

.bordered-head {
  position: relative;
}
.bordered-head h2 {
  width: 400px;
  margin: 50px auto;
  padding: 10px 15px;
  background-color: #e2494c;
  color: #fff;
  text-align: center;
  border-radius: 15px;
}
@media (max-width: 767px) {
  .bordered-head h2 {
    width: 100%;
  }
}
.bordered-head h2::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  border: 1.5px solid #d1d1d1;
  z-index: -1;
}

.main-button {
  display: block;
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
  background-color: rgba(226, 73, 76, 0.8);
  color: #fff;
  cursor: pointer;
}
.main-button:hover {
  background-color: #e2494c;
}

.toggle-menu {
  position: relative;
  padding: 5px 15px;
  border: 2px solid black;
  cursor: pointer;
  transition: 0.3s;
  display: none;
}
.toggle-menu.active {
  border: 2px solid #e2494c;
}
.toggle-menu i {
  font-size: 35px;
}
@media (max-width: 767px) {
  .toggle-menu {
    display: block;
  }
}

body {
  font-family: Tahoma, sans-serif;
}

ul, ol {
  list-style-type: none;
  padding: 0;
}

.header {
  padding: 20px 0;
  border-bottom: solid 1px #d1d1d1;
}
@media (max-width: 767px) {
  .header {
    padding-bottom: 0;
  }
}
.header .container {
  display: flex;
  align-items: center;
  position: relative;
}
.header .container .logo {
  width: 30%;
}
.header .container .logo h1 {
  margin-top: 0;
}
.header .container .logo p {
  margin-bottom: 0;
  color: grey;
}
@media (max-width: 767px) {
  .header .container .logo {
    flex: 1;
  }
}
.header .container .nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 70px;
  background-color: #e2494c;
  border-radius: 15px;
  overflow: hidden;
}
@media (max-width: 767px) {
  .header .container .nav-links {
    display: block;
    width: 100%;
    height: 0;
    transition: 0.5s ease-out;
  }
  .header .container .nav-links.active {
    height: 303px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .header .container .nav-links {
    width: 100%;
    margin-top: 30px;
  }
}
.header .container .nav-links li {
  user-select: none;
  cursor: pointer;
  padding: 20px 10px;
  color: white;
  font-size: 18px;
  text-align: center;
  width: 20%;
  transition: 0.3s;
}
.header .container .nav-links li:hover {
  color: #d1d1d1;
}
@media (max-width: 767px) {
  .header .container .nav-links li {
    display: block;
    width: 100%;
  }
}
@media (max-width: 767px) {
  .header .container {
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .header .container {
    flex-direction: column;
  }
}

.slider {
  padding: 20px 0;
  text-align: center;
}
.slider q {
  display: block;
  width: 80%;
  margin: 0 auto 20px;
  color: rgba(0, 0, 0, 0.7);
  font-size: 21px;
  font-weight: bold;
  line-height: 1.7;
}
.slider .slide-img {
  width: 100%;
  height: 500px;
}
.slider .bullets {
  display: flex;
  gap: 2px;
  justify-content: center;
}
.slider .bullets li {
  width: 20px;
  height: 20px;
  background-color: #d1d1d1;
  border-radius: 50%;
  transition: 0.3s;
  border: 2px solid #d1d1d1;
}
.slider .bullets li.active, .slider .bullets li:hover {
  background-color: #fff;
  border: 2px solid #e2494c;
}

.services {
  display: flex;
  margin-top: 30px;
}
@media (max-width: 767px) {
  .services {
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
  }
}
.services .service-box {
  width: 33.3333333333%;
}
@media (max-width: 767px) {
  .services .service-box {
    width: 100%;
    text-align: center;
  }
}
.services .service-box:not(:last-of-type) {
  margin-right: 15px;
}
@media (max-width: 767px) {
  .services .service-box:not(:last-of-type) {
    margin: 0;
  }
}
.services .service-box h3 {
  color: rgba(0, 0, 0, 0.7);
  font-size: 21px;
  font-weight: bold;
}
.services .service-box p {
  line-height: 1.55;
  color: rgba(0, 0, 0, 0.7);
}
.services .service-box a {
  text-decoration: none;
  color: #e2494c;
}

.our-players {
  margin-top: 30px;
  margin-bottom: 30px;
}
.our-players .players {
  display: flex;
  margin-top: 30px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .our-players .players {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 40px;
  }
}
@media (max-width: 767px) {
  .our-players .players {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 40px;
  }
}
.our-players .players .player-box {
  width: 20%;
}
@media (min-width: 768px) and (max-width: 991px) {
  .our-players .players .player-box {
    width: 33.3333333333%;
  }
}
@media (max-width: 767px) {
  .our-players .players .player-box {
    width: 100%;
  }
}
.our-players .players .player-box img {
  max-width: 100%;
}
.our-players .players .player-box:not(:last-of-type) {
  padding-left: 15px;
}
@media (max-width: 767px) {
  .our-players .players .player-box:not(:last-of-type) {
    padding: 0;
  }
}
.our-players .players .player-box h3 {
  display: flex;
  justify-content: center;
  color: #d1d1d1;
  font-size: 18px;
}
.our-players .players .player-box h3 span {
  margin-left: 5px;
  color: rgba(0, 0, 0, 0.7);
  font-weight: bold;
}
@media (max-width: 767px) {
  .our-players .players .player-box h3 {
    text-align: center;
  }
}
.our-players .players .player-box p {
  line-height: 1.55;
  color: rgba(0, 0, 0, 0.7);
}
@media (max-width: 767px) {
  .our-players .players .player-box {
    text-align: center;
  }
}
.our-players .players .player-box a {
  text-decoration: none;
  color: #e2494c;
}

.lorem {
  padding-bottom: 70px;
}
.lorem .images-container {
  display: flex;
  gap: 30px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .lorem .images-container {
    flex-wrap: wrap;
    justify-content: center;
    gap: 0;
    row-gap: 30px;
  }
}
@media (max-width: 767px) {
  .lorem .images-container {
    flex-wrap: wrap;
    justify-content: center;
    gap: 0;
    row-gap: 30px;
  }
}
.lorem .images-container .img-box {
  width: 33.3333333333%;
}
@media (min-width: 768px) and (max-width: 991px) {
  .lorem .images-container .img-box {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .lorem .images-container .img-box {
    width: 80%;
  }
}
.lorem .images-container .img-box img {
  width: 410px;
  height: 270px;
}
@media (max-width: 767px) {
  .lorem .images-container .img-box img {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .lorem .images-container .img-box img {
    width: calc(100% - 20px);
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .lorem .images-container .img-box img {
    width: 100%;
  }
}

.footer {
  background-color: #d1d1d1;
  padding-top: 30px;
  color: rgba(0, 0, 0, 0.7);
}
.footer .container {
  padding-bottom: 30px;
  border-bottom: 1px solid #c1c1c1;
  display: flex;
  gap: 30px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .footer .container {
    gap: 0;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 767px) {
  .footer .container {
    gap: 0;
    flex-direction: column;
    align-items: start;
  }
}
.footer .box-title {
  font-size: 20px;
}
.footer .latest-box {
  width: 50%;
}
@media (max-width: 767px) {
  .footer .latest-box {
    width: 100%;
  }
}
.footer .latest-box .content-box {
  display: flex;
  align-items: center;
}
@media (min-width: 768px) and (max-width: 991px) {
  .footer .latest-box .content-box {
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  .footer .latest-box .content-box {
    flex-direction: column;
    align-items: start;
  }
}
.footer .latest-box .content-box:not(:last-of-type) {
  margin-bottom: 20px;
}
.footer .latest-box .content-box h4 {
  color: #e2494c;
  font-size: 21px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.footer .latest-box .content-box p {
  line-height: 2;
  margin: 0;
}
.footer .latest-box .content-box .img-box {
  padding: 3px;
  margin-right: 15px;
  margin-left: 15px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) and (max-width: 991px) {
  .footer .latest-box .content-box .img-box {
    margin-right: 0;
  }
}
@media (max-width: 767px) {
  .footer .latest-box .content-box .img-box {
    margin-right: 0;
    margin-left: 0;
  }
}
.footer .latest-box .content-box .img-box img {
  max-width: 100%;
}
.footer .co-details-box,
.footer .contact-us-box {
  width: 25%;
}
@media (min-width: 768px) and (max-width: 991px) {
  .footer .co-details-box,
  .footer .contact-us-box {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .footer .co-details-box,
  .footer .contact-us-box {
    width: 100%;
  }
}
.footer .co-details-box span {
  display: block;
  margin-bottom: 5px;
}
.footer .co-details-box .details,
.footer .co-details-box .contact-details {
  margin-bottom: 20px;
}
.footer .co-details-box .contact-details .email {
  display: inline;
  color: #e2494c;
}
.footer .co-details-box .office-hours .office {
  font-size: 17px;
  font-weight: bold;
}
.footer .contact-us-box input,
.footer .contact-us-box textarea {
  border: none;
  border-radius: 5px;
  display: block;
}
@media (min-width: 768px) and (max-width: 991px) {
  .footer .contact-us-box input,
  .footer .contact-us-box textarea {
    margin: auto;
  }
}
@media (max-width: 767px) {
  .footer .contact-us-box input,
  .footer .contact-us-box textarea {
    margin: auto;
  }
}
.footer .contact-us-box input:not(input[type=submit]),
.footer .contact-us-box textarea:not(input[type=submit]) {
  padding: 7px;
  margin-bottom: 10px;
  width: 100%;
}
.footer .contact-us-box input::placeholder,
.footer .contact-us-box textarea::placeholder {
  opacity: 0.5;
}
.footer .contact-us-box input:focus,
.footer .contact-us-box textarea:focus {
  outline: 1px solid #e2494c;
}
.footer .contact-us-box textarea {
  height: 130px;
}

.copyright {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #d1d1d1;
}
.copyright .container {
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
  font-size: 18px;
}
@media (max-width: 767px) {
  .copyright .container {
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .copyright .container {
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
  }
}
.copyright .container div:first-child {
  display: flex;
}
.copyright .container span {
  color: #e2494c;
  font-weight: bold;
  margin-right: 5px;
}

/*# sourceMappingURL=homepage.css.map */
