.footer {
    background-color: #d1d1d1;
    padding-top: 30px;
    padding-bottom: 30px;
    .container {
        display: flex;
        gap: 30px;
        @include medium {
            gap: 0;
            flex-direction: column;
            align-items: center;
        }
        @include small {
            gap: 0;
            flex-direction: column;
            align-items: start;
        }
    }
    .box-title {
        font-size: 20px;
    }
    color: rgba(black, .7);
    .latest-box {
        width: 50%;
        @include small {
            width: 100%;
        }
        .content-box {
            display: flex;
            align-items: center;
            justify-content: center;
            @include medium {
                flex-direction: column;
            }
            @include small {
                flex-direction: column;
            }
            &:not(:last-of-type) {
                margin-bottom: 20px;
            }
            h4 {
                color: $redColor;
                font-size: 21px;
                margin-top: 10px;
                margin-bottom: 10px;
            }
            p {
                line-height: 2;
                margin: 0;
            }
            .img-box {
                padding: 3px;
                margin-right: 15px;
                background-color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                @include medium {
                    margin-right: 0;
                }
                @include small {
                    margin-right: 0;
                }
                img {
                    max-width: 100%;
                }
            }
        }
    }
    .co-details-box,
    .contact-us-box {
        width: calc(50% / 2);
        @include medium {
            width: 50%;
        }
        @include small {
            width: 100%;
        }
    }
    .co-details-box {
        span {
            display: block;
            margin-bottom: 5px;
        }
        .details, 
        .contact-details {
            margin-bottom: 20px;
        }
        .contact-details {
            .email {
                display: inline;
                color: $redColor;
            }
        }
        .office-hours {
            .office {
                font: {
                    size: 17px;
                    weight: bold;
                }
            }
        }
    }
    .contact-us-box {
        input,
        textarea {
            border: none;
            border-radius: 5px;
            display: block;
            @include medium {
                margin: auto;
            }
            @include small {
                margin: auto;
            }
            &:not(input[type="submit"]) {
                padding: 7px;
                margin-bottom: 10px;
                width: 100%;
            }
            &::placeholder {
                opacity: .5;
            }
            &:focus {
                outline: 1px solid $redColor;
            }

        }
        textarea {
            height: 130px;
        }
    }
}