.slider {
    padding: 20px 0;
    text-align: center;
    q {
        display: block;
        width: 80%;
        margin: 0 auto 20px;
        color: rgba(black, .7);
        font: {
            size: 21px;
            weight: bold;
        }
        line-height: 1.7;
    }
    .slide-img {
        width: 1200px;
        height: 500px;
    }
    .bullets {
        display: flex;
        gap: 2px;
        justify-content: center;
        li {
            width: 20px;
            height: 20px;
            background-color: #d1d1d1;
            border-radius: 50%;
            transition: .3s;
            border: 2px solid #d1d1d1;
            &.active,
            &:hover {
                background-color: #fff;
                border: 2px solid $redColor;
            }
        }
    }
}