.main-button {
    display: block;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    background-color: rgba($redColor, .8);
    color: #fff;
    cursor: pointer;
    &:hover {
        background-color: $redColor;
    }
}

.toggle-menu {
    position: relative;
    padding: 5px 15px;
    border: 2px solid black;
    cursor: pointer;
    transition: .3s;
    display: none;
    &.active {
        border: 2px solid $redColor;
    }
    i {
        font-size: 35px;
    }
    @include small {
        display: block;
    }
}